In [1]:
print ("Hello World")

Hello World

In [2]:
a = 10
b = 220
c = a + b       # Add two numbers
print (a, " + ", b, " --> ", c)

10  +  220  -->  230

In [3]:
a = "Bhagat"
b = " Singh"
c = a + b		# Concatinate two strings
print (a, " + ", b, " --> ", c)

Bhagat  +   Singh  -->  Bhagat Singh

In [4]:
a = "Bhagat"
b = 100
c = a + str(b)		# Concatinate string with number
print (a, " + ", b, " --> ", c)

Bhagat  +  100  -->  Bhagat100

In [5]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b		# concatinate two strings
print  (a, " + ", b, "      --> ", c)

# Run the program with (1) Two strings and (2) Two numbers

Enter First String:  hello
Enter Second String:  world

hello  +  world       -->  helloworld

a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
c = a + b
print (a, " + ", b, " --> ", c)

In [7]:
i=1
while i <= 10:
	print (i)
	i = i+1

1
2
3
4
5
6
7
8
9
10

In [8]:
print ("range(10)        --> ", list(range(10)))
print ("range(10,20)     --> ", list(range(10,20)))
print ("range(0,20,2)    --> ", list(range(2,20,2)))
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2)--> ", list(range(-10,-20,-2)))

range(10)        -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(10,20)     -->  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2)    -->  [2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2) -->  []
range(-10,-20,-2)-->  [-10, -12, -14, -16, -18]

In [9]:
for i in range(0,10):
	print (i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(0,20,2):
	print (i)

0
2
4
6
8
10
12
14
16
18

In [11]:
for i in range(0,-10,-1):
	print (i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [12]:
for i in range(1,11):
	print (5," * ", i , " = ", i * 5)

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [13]:
s=0
for i in range(1,11):
	s=s+i
print ("Sum is --> ",s)

Sum is -->  55

In [14]:
print ("Sum is --> ", sum(range(1,11)))

Sum is -->  55

In [15]:
# Assignment 4.1: Print the table of 7 and 9

print("Table of 7:")
for i in range(1, 11):
    print(f"7 x {i} = {7 * i}")

print("\nTable of 9:")
for i in range(1, 11):
    print(f"9 x {i} = {9 * i}")

Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [16]:
# Assignment 4.2: Print the table of n (user input)

n = int(input("Enter a number to print its table: "))

print(f"\nTable of {n}:")
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number to print its table:  6

Table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [17]:
# Assignment 4.3: Add all numbers from 1 to n

n = int(input("Enter a number: "))

total = 0
for i in range(1, n + 1):
    total += i

print(f"\nThe sum of numbers from 1 to {n} is: {total}")

Enter a number:  7

The sum of numbers from 1 to 7 is: 28

In [18]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b:
	print (a," > ",b)
else:
	print (a," < ",b)

Enter First No:  56
Enter Second No:  98

56  <  98

In [19]:
n = int(input("Enter a No: "))
if  n % 2 == 0:
	print (n," is even")
else:
	print (n," is odd")

Enter a No:  78

78  is even

In [20]:
n = int(input("Enter a No: "))
f=0
for i in range(2, n//2 + 1):
	if  n % i == 0:
		f=1
		break

if f==0:
	print ("Prime")
else:
	print ("Not Prime")

Enter a No:  99

Not Prime

In [21]:
a = input("Enter First String : ")
b = input("Enter Second String: ")

if a == b:
	print ("a == b")
elif a >= b:
	print ("a > b")
else:
	print ("a < b")

Enter First String :  hello
Enter Second String:  world

a < b

In [22]:
# Assignment 5.1: Find the maximum among three numbers using max() function

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

maximum = max(a, b, c)
print(f"\nThe maximum among {a}, {b}, and {c} is: {maximum}")

Enter first number:  45
Enter second number:  67
Enter third number:  98

The maximum among 45, 67, and 98 is: 98

In [23]:
# Assignment 5.2: Add all numbers divisible by 7 and 9 from 1 to n

n = int(input("Enter the value of n: "))

total = 0
for i in range(1, n + 1):
    if i % 7 == 0 and i % 9 == 0:   # divisible by both 7 and 9
        total += i

print(f"\nThe sum of all numbers divisible by both 7 and 9 from 1 to {n} is: {total}")

Enter the value of n:  200

The sum of all numbers divisible by both 7 and 9 from 1 to 200 is: 378

In [24]:
# Assignment 5.3: Add all prime numbers from 1 to n

n = int(input("Enter the value of n: "))

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

total = 0
for i in range(1, n + 1):
    if is_prime(i):
        total += i

print(f"\nThe sum of all prime numbers from 1 to {n} is: {total}")

Enter the value of n:  10

The sum of all prime numbers from 1 to 10 is: 17

In [25]:
def Add(a,b):
	c=a+b
	return c

print ("Add(10,20) -->", Add(10,20))
print ("Add(20,50) -->", Add(20,50))
print ("Add(80,200) -->", Add(80,200))

Add(10,20) --> 30
Add(20,50) --> 70
Add(80,200) --> 280

In [26]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1

print ("IsPrime(20)  --> ", IsPrime(20))
print ("IsPrime(23)  --> ", IsPrime(23))
print ("IsPrime(200) --> ", IsPrime(200))
print ("IsPrime(37)  --> ", IsPrime(37))

IsPrime(20)  -->  0
IsPrime(23)  -->  1
IsPrime(200) -->  0
IsPrime(37)  -->  1

In [27]:
def AddN(n):
	s= sum(range(n+1))
	return s

print ("AddN(10)  --> ", AddN(10))
print ("AddN(20)  --> ", AddN(20))
print ("AddN(50)  --> ", AddN(50))
print ("AddN(200) --> ", AddN(200))

AddN(10)  -->  55
AddN(20)  -->  210
AddN(50)  -->  1275
AddN(200) -->  20100

In [28]:
# Assignment 6.1: Add all odd numbers from 1 to n (using function)

def add_odd_numbers(n):
    total = 0
    for i in range(1, n + 1):
        if i % 2 != 0:   # odd number check
            total += i
    return total

# --- main program ---
n = int(input("Enter the value of n: "))
result = add_odd_numbers(n)
print(f"\nThe sum of all odd numbers from 1 to {n} is: {result}")

Enter the value of n:  56

The sum of all odd numbers from 1 to 56 is: 784

In [29]:
# Assignment 6.2: Add all prime numbers from 1 to n (using function)

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def add_prime_numbers(n):
    total = 0
    for i in range(1, n + 1):
        if is_prime(i):
            total += i
    return total

# --- main program ---
n = int(input("Enter the value of n: "))
result = add_prime_numbers(n)
print(f"\nThe sum of all prime numbers from 1 to {n} is: {result}")

Enter the value of n:  44

The sum of all prime numbers from 1 to 44 is: 281

In [30]:
import math as m
print ("exp(-200)    --> ", m.exp(-200))  # Exponential function
print ("log(100,2)   --> ", m.log(100,2)) # Log
print ("log(100,10)  --> ", m.log(100,10))# Log
print ("log10(100)   --> ", m.log10(100)) # Log 10
print ("m.cos(30)    --> ", m.cos(30))    # cos
print ("m.sin(30)    --> ", m.sin(30))    # sin
print ("m.tan(30)    --> ", m.tan(30))    # tan
print ("m.sqrt(324)  --> ", m.sqrt(324))
print ("m.ceil(89.9) --> ", m.ceil(89.9))
print ("m.floor(89.9)--> ", m.floor(89.9))

exp(-200)    -->  1.3838965267367376e-87
log(100,2)   -->  6.643856189774725
log(100,10)  -->  2.0
log10(100)   -->  2.0
m.cos(30)    -->  0.15425144988758405
m.sin(30)    -->  -0.9880316240928618
m.tan(30)    -->  -6.405331196646276
m.sqrt(324)  -->  18.0
m.ceil(89.9) -->  90
m.floor(89.9)-->  89

In [31]:
var = 'Hello World!'
print ("var      --> ", var)
print ("var[0]   --> ", var[0])
print ("var[1:5] --> ", var[1:5])
print ("var[:-5] --> ", var[:-5])

var      -->  Hello World!
var[0]   -->  H
var[1:5] -->  ello
var[:-5] -->  Hello W

In [32]:
var = 'Hello World!'
print ("String --> ", var)
print ("Length --> : ", len(var))
print ("Upper  --> : ", var.upper())
print ("Lower  --> : ", var.lower())

String -->  Hello World!
Length --> :  12
Upper  --> :  HELLO WORLD!
Lower  --> :  hello world!

In [33]:
name=input("Enter your name: ")
age=int(input("Enter your age : "))
price=float(input("Enter the book price: "))
s="\nYour name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print (s)

Enter your name:  abcd
Enter your age :  78
Enter the book price:  900

Your name is ABCD, age is 78 and book price is 900.000000

In [34]:
para_str = """This is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print (para_str)

This is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

In [35]:
var =" Indian   Army    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var strip --> ", var.strip())
print("Length of var after strip --> ", len(var.strip()))

String    -->   Indian   Army
Length    -->  18
var strip -->  Indian   Army
Length of var after strip -->  13

In [36]:
var =" Indian,   Army    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var split --> ", var.split())
print("var split --> ", var.split(' '))
print("var split --> ", var.split(','))

# Strip + Split
print("var split --> ", var.strip().split(','))

String    -->   Indian,   Army
Length    -->  19
var split -->  ['Indian,', 'Army']
var split -->  ['', 'Indian,', '', '', 'Army', '', '', '', '']
var split -->  [' Indian', '   Army    ']
var split -->  ['Indian', '   Army']

In [37]:
var=" Indian Army    "
print ("String       --> ", var)
print ("Count of ' ' --> ", var.count(' '))
print ("Count of 'a' --> ", var.count('a'))
print ("Count of 'n' --> ", var.count('an'))

String       -->   Indian Army
Count of ' ' -->  6
Count of 'a' -->  1
Count of 'n' -->  1

In [38]:
var="Indian Army"
print ("String    --> ", var)
print ("var[::1]  --> ", var[::1])
print ("var[::2]  --> ", var[::2])
print ("var[::-1] --> ", var[::-1])
print ("var[::-2] --> ", var[::-2])

var=var[::-1]
print ("var after reverse --> ", var)

String    -->  Indian Army
var[::1]  -->  Indian Army
var[::2]  -->  Ida ry
var[::-1] -->  ymrA naidnI
var[::-2] -->  yr adI
var after reverse -->  ymrA naidnI

In [39]:
s1="Indian Army"
s2="malayalam"
s3="madam"
s4="teacher"
print ("s1 --> ", s1==s1[::-1])
print ("s2 --> ", s2==s2[::-1])
print ("s3 --> ", s3==s3[::-1])
print ("s4 --> ", s4==s4[::-1])

s1 -->  False
s2 -->  True
s3 -->  True
s4 -->  False

In [40]:
import random as r
print (r.random())
print (r.random())
print (round(r.random(),4))

0.41495008638914044
0.58470217021829
0.4877

In [41]:
import random as r
print (r.randint(1, 100))
print (r.randint(1, 100))
print (r.randint(-10, 10))
print (r.randint(-10, 10))

47
17
-4
0

In [42]:
import random as r
print (r.uniform(1, 100))
print (r.uniform(1, 100))
print (r.uniform (-10, 10))
print (r.uniform (-10, 10))
print (round(r.uniform (-10, 10),2))

55.228676136610574
81.94723996735323
-2.848067005401811
-5.132095083266095
0.36

In [43]:
import random as r

A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print (r.sample(A, 4))
print (r.sample(A, 2))
print (r.sample(range(0,100), 2))
print (r.sample(range(-100,100), 5))

[3, 5, 2, 8]
[3, 4]
[97, 62]
[-54, -59, 92, -9, -61]

In [44]:
import string as s
import random as r
print ("String        --> ",s.ascii_letters)

passwd=r.sample(s.ascii_letters, 6)
print ("Selected Char --> ",passwd)

passwd1="".join(passwd)
print ("passwd1       --> ",passwd1)

passwd2="+".join(passwd)
print ("passwd2       --> ",passwd2)

passwd3="*".join(passwd)
print ("passwd3       --> ",passwd3)

String        -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
Selected Char -->  ['z', 'w', 'X', 'f', 'L', 'd']
passwd1       -->  zwXfLd
passwd2       -->  z+w+X+f+L+d
passwd3       -->  z*w*X*f*L*d

In [45]:
import string as s
import random as r
print ("Digits --> ",s.digits)

otp=r.sample(s.digits, 5)
print ("Selected num1 --> ",otp)
otp="".join(otp)
print ("otp1          --> ",otp)

otp=r.sample(s.digits, 5)
print ("Selected num2 --> ",otp)
otp="".join(otp)
print ("otp2          --> ",otp)

otp=r.sample(s.digits, 5)
print ("Selected num2 --> ",otp)
otp="".join(otp)
print ("otp3          --> ",otp)

Digits -->  0123456789
Selected num1 -->  ['7', '9', '2', '5', '6']
otp1          -->  79256
Selected num2 -->  ['2', '7', '3', '0', '4']
otp2          -->  27304
Selected num2 -->  ['9', '7', '8', '6', '5']
otp3          -->  97865

In [46]:
import string as s
import random as r
print ("String + Digits --> ",s.ascii_letters + s.digits)

mixPasswd=r.sample(s.ascii_letters + s.digits, 5)
print ("\nSelected Str1 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd1    --> ",mixPasswd)

mixPasswd=r.sample(s.ascii_letters + s.digits, 6)
print ("\nSelected Str2 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd2    --> ",mixPasswd)

splChar="#@!~%^&*()_+=-[]{}|"
mixPasswd=r.sample(splChar + s.ascii_letters + s.digits, 8)
print ("\nSelected Str3 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd3    --> ",mixPasswd)

String + Digits -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

Selected Str1 -->  ['N', 'h', 'u', '6', 'G']
mixPasswd1    -->  Nhu6G

Selected Str2 -->  ['t', 'm', 'R', 'B', 'T', 'W']
mixPasswd2    -->  tmRBTW

Selected Str3 -->  ['}', 'J', 'k', 'G', 'V', '1', '9', 'c']
mixPasswd3    -->  }JkGV19c

In [47]:
for i in range(-5,6):
	print ("100/",i," --> ", 100/i)

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0

ZeroDivisionError: division by zero

In [48]:
for i in range(-5,6):
	try:
		print ("100/",i," --> ", 100/i)
	except:
		print ("error")

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0
error
100/ 1  -->  100.0
100/ 2  -->  50.0
100/ 3  -->  33.333333333333336
100/ 4  -->  25.0
100/ 5  -->  20.0

In [49]:
L=[1,2,3,4,5]

for i in range(8):
	try:
		print (i," --> ",L[i])
	except:
		print ("error")

0  -->  1
1  -->  2
2  -->  3
3  -->  4
4  -->  5
error
error
error

In [ ]:
fileName=input("Enter File Name: ")
fp=open(fileName)	# Open the file in reading mode
fp.close()
print ("Done")

In [ ]:
fileName=input("Enter File Name: ")
try:
	fp=open(fileName)	# Open the file in reading mode
	fp.close()
except:
	print ("Error !! \"%s\" File Not Found"%(fileName))

print ("Done")